html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 250px;
    height: 350px;
    background-color:burlywood;
    border: 5px groove grey;
    border-radius: 5px;
}
.container {
    font-size: 20px;
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    width: 250px;
    height: 320px;
    margin-top: 15px;
    align-items: center;
    justify-items: center;
}
.screen {
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    grid-row: 1;
    grid-column: 1/5;
    width: 88%;
    padding-right: 10px;
}
.sign{
    background-color: grey;
}
.sign:hover{
    background-color: orange;
}
button {
    
    border: 3px inset grey;
    background: white;
    color: black;
    font-size: 20px;
    width: 45px;
    height: 45px;
    transition: all 0.1s;
    border-radius: 5px;
}
button:hover {
    background: grey;
}
.clear {
    grid-row: 6;
    grid-column: 1/5;
    background-color: grey;
    width: 93%;
}
.clear:hover{
    background-color: orange;
}
